[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "4.21.1"
pyyaml = "6.0.1"
rdflib = "*"
pylode = "2.13.2"
nanopub = "2.0.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
