[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
pylode = "2.13.2"
nanopub = "2.0.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
